:root {
  --base-1: 93 83 123;
  --base-2: 83 73 113;
  --base-3: 73 63 103;
  --base-4: 63 53 93;
  --base-5: 56 48 84;
  --base-6: 46 38 74;
  --base-7: 66 56 96;
  --base-8: 36 32 47;
  --base-9: 24 22 32;
  --base-10: 14 13 18;
  --base-foreground: 255 255 255;
  --base-foreground-subtle: 176 132 233;
  --primary: 176 132 233;
  --primary-light: 206 162 253;
  --primary-dark: 146 102 213;
  --success: 41 233 169;
  --danger: 245 97 139;
  --warning: 255 209 70;
  --trading-profit: 34 219 136;
  --trading-loss: 239 71 111;
  --gradient-brand-start: 206 162 253;
  --gradient-brand-end: 176 132 233;
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 40rem;
  --oui-spacing-md: 60rem;
  --oui-spacing-lg: 80rem;
}